<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524738435081-u3fc4vmi83katd4ib2ga435h8suhah3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524738435081-u3fc4vmi83katd4ib2ga435h8suhah3d</string>
	<key>API_KEY</key>
	<string>AIzaSyD2XgY8gYH7BvQolgFmB8JBtxRzFYfhNFg</string>
	<key>GCM_SENDER_ID</key>
	<string>524738435081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iailab.tepFlutter</string>
	<key>PROJECT_ID</key>
	<string>tepflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>tepflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524738435081:ios:5f6345f0298ef702f2c0d8</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1486315568349807~5612396128</string>
</dict>
</plist>